<a href="https://colab.research.google.com/github/Fayezalsorakhy/Fayezalsorakhy/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

this is lab 1. and it is about basicpython programming

In [16]:
# You will be working with some common libraries such as
import pandas as pd
import numpy as np

In [17]:
import math
pi = math.pi
print(pi)

3.141592653589793

In [20]:
import pandas as pd
import numpy as np

In [23]:
df = pd.read_csv('/content/Auto.csv')

In [24]:
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [25]:
 print(f'The size of df is {df.shape}')

The size of df is (397, 9)

In [26]:
print(f'the numper of rows in my df is{df.shape[0]}')

the numper of rows in my df is397

In [28]:
print(f'the numper of colums in my df is{df.shape[1]}')

the numper of colums in my df is9

In [30]:
df.columns

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'year', 'origin', 'name'],
      dtype='object')

In [31]:
 type(df['mpg'])

pandas.core.series.Series

In [32]:
 cars70 = df[df.year==70]
cars70.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [34]:
print(f'Number of cars in cars70 df is {cars70.shape[0]}')

Number of cars in cars70 df is 29